{% extends 'base.html' %}
{% block base %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p><span class="badge badge-secondary mr-2">Для
                {{ goals }} </span>Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for key, value in teacher.free.items() %}
              <h6 class="mt-4">{{weekdays[key][0]}}</h6>
                 {% if value.values()|sum %}
                    {% for time in value.keys() %}
                        <a
                                href="{{ url_for('render_booking', id=teacher.id, day=weekdays[key][1], time=time) }}"
                           class="btn btn-outline-success mr-2">{{time}}
                          свободно</a>
                    {% endfor %}
                {% else %}
                  <p>Нет свободных уроков</p>
                {% endif %}
              {% endfor %}
            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}